#main { min-height: 500px; }

/* 로고에 커서를 올리면 모양이 손모양으로 바뀜 */
#logo:hover { cursor: pointer; }

/* 게시판 테이블 스타일링 */
.thborder { border-bottom: 3px solid black; border-top: 3px solid black; }
.thbg { background: #dff0d8 }
tr { border-bottom: 1px solid silver }
th:first-child, th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6) { text-align: center }
td:first-child, td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) { text-align: center }

.active { color: red !important; font-size: 35px !important; }

/* 게시판 본문글 스타일링 */
.vtit { height: 100px; border-bottom: 3px solid black; background: #dff0f8;
        font-size: 32px; text-align: center; }
.vinfo { height: 30px; background: #99ccff }
.vinfo td { padding: 5px; }
.vcont { height: 500px; border-bottom: 3px solid black; background: #dff0f8;
        padding: 5px; vertical-align: top; }

/* bs5 tweak */
a:not([class*="btn"]) {
        text-decoration: none;
}
a:not([class*="btn"]):hover {
        text-decoration: underline;
}